*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    background-color:#323232;
}
.section{
    background-color:rgba(0, 0, 0, 0.19) ;
    width: 100%;
    height: 230vh;

}
.section p{
    width: 150px;
}
p{
    width: 100px;
}
input{
    width: 50px;
    text-align: center;
}
.input2{
    width: 100px;
}
.sure p{
    width: 200px;
}